.details-tooltip {
	cursor: pointer;
	text-decoration: underline;
	
	&:hover::after {
		content: attr(data-title);
		color: lightgray;
		position: absolute;
		margin: -5% 0 0 -15%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 20px;
		white-space: pre-wrap;
		text-align: left;
		border-radius: 10%;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
		font: .8em Arial, sans-serif;
	}
}