.spinner {
	margin: 50px 0;
	pointer-events: none;
	animation: app-logo-spin infinite 5s linear;

	@keyframes app-logo-spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

}