.form {
	display:  flex;
	align-items:  center;
	flex-direction: column;
	flex-wrap: wrap;

	hr {
		align-self: center;
		min-width: 400px;
		max-width: 600px;
		&:after {
			content: '\A';
		}
	}

	h1, h2 {
		align-self: center;

		&:after {
			content: '\a';
		}
	}

	.fields-container{
		align-self: center;
		width: 100%;
		display: flex;
		align-items:  center;
		flex-direction: row;
		flex-wrap: wrap;

		label {
			align-self: left;
			margin: 20px;
			display: flex;
			justify-content: flex-end;
			// border: 1px dotted green;
			min-width: 500px;
		}

		input, select {
			border: 2px solid gray;
			align-self: right;
			margin: 0 0 0 20px;
			background-color: #090909;
			color: #eee;
		}

		input[type=text], select {
			width:  300px;
		}

		input[type=checkbox] {
			align-self: left;
			width: 30px;
			height: 30px;
		}
	}


}